<% include ../common/header %>
<title>优智投</title>
</head>
<body>
<div class="main">
    <!-- 左侧菜单 -->
    <% include ../common/leftMenu %>
    <!--  右侧主内容区 -->
    <div class="container">
        <a href="http://uppay.test.upchina.com/order2/25bfb8e4f6ca27efb95af1d9f21ee72c" target="_blank" class="btn_open">立即开通</a>
    </div>
</div>
<% include ../common/footer %>