<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/common.js"></script>
<script>
    $(function(){


        $("#addStk").click(function(){
            var stockName = $("#stockName").val();
            var stockCode = $("#stockCode").val();
            var stockMar = $("#stockMar").val();
            if(stockName==''||stockCode==''){
                alert('股票名称和股票代码都不能为空!');
                return false;
            }
            $.ajax({
                url:'/dayStocks/add',
                type:'get',
                data:{'stockName':stockName,
                    'stockMar':stockMar,
                    'stockCode':stockCode},
                success:function(data){
                    if(data.retVal==0){
                        window.location.href = '/html/a.html';
                    }else if(data.retVal==1){
                        alert('添加失败,每天最多只能添加6条！');
                    }else if(data.retVal==2){
                        alert('添加失败,今天已添加了这支股票！');
                    }else if(data.retVal==3){
                        alert('添加失败,非交易日不能添加股票！');
                    }else{
                        alert('添加失败！');
                    }
                }
            });
        });

        $("#cancel").click(function(){
            window.location.href = '/html/a.html';
        });

    });

</script>
</head>
<body>
<div class="container">
    <form id="stock" >
        <br><br><br><br><br>
        <div class="form-group text-center">日期:<%=curDate%></div>
        <div class="form-group text-center">
            <label for="stockName">股票名称</label>
            <input type="text" id="stockName" name="stockName">
            <input type="hidden" id="stockMar" name="stockMar">
        </div>
        <div class="form-group text-center">
            <label for="stockCode">股票代码</label>
            <input type="text" id="stockCode" name="stockCode" readonly>
        </div>
        <div class="form-group text-center">
            <input type="button" class="btn btn-info" name="addStk" id="addStk" value="提交">
            <input type="button" class="btn btn-warning" name="cancel" id="cancel" value="返回">
        </div>
    </form>
</div>
</body>
</html>