
<ul class="nav nav-pills nav-stacked" style="width:35%;margin-left: 50px;margin-top:80px;">
    <li id="day" class="active"><a href="#">每日热股</a></li>
    <li id="week" ><a href="#">每周牛股</a></li>
</ul>